html, body {
  margin: 0;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background: #141414;
  position: relative;
  /*background-color: rgba(78, 78, 78, 0.17);*/
}